
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static '/favicon.ico' %}">
    
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
  

  </head>
  <br>
{% if request.session.msg != None %}
<h3 style="color:rgb(230, 21, 21);text-align: center;font-family: bold;text-shadow:2px 0.5px rgb(244, 47, 47)">{{ request.session.msg }}</h3>
{% endif %} 
<br>
{% if form.out %}
<h3 style="color:rgb(43, 241, 43);text-align: center;font-family: bold;text-shadow:2px 0.6px rgb(53, 244, 47)">{{ form.out }}</h3>
{% endif %} 
  <body>
    <div class="center">
      <h1>Login</h1>
      {% if form.error %}
      <p style="color: red;text-align: center;"> {{ form.messege }}</p>
      {% else %}
      <p style="color:rgb(33, 216, 33) ;text-align: center; text-shadow:2px 2px red"> {{ form.messege }}</p>
      {% endif %}
      <form method="POST" novalidate>
        <div class="txt_field">
          <input type="text" required value="{{ form.login_id }}" name="login_id">
          <span></span>
          <label>Email</label>
          <span style="color:red">{{ form.inputError.login_id }}</span>
        </div>
        <div class="txt_field">
          <input type="password" required value="{{ form.password }}" name="password">
          <span></span>
          <label>Password</label>
          <span style="color:red">{{ form.inputError.password }}</span>
        </div>
        <div  class="pass"><a href="/ORS/ForgetPassword">Forgot Password?</a></div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="/ORS/Registration">Signup</a>
        </div>
      </form>
    </div>
  
      

</body>

</html>
