
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-image: url("{% static 'Aqua1.jpg' %}");
    }
    
</style>
<body>
 <div class="d-flex" style="margin-top:15%">

        <div class="mx-auto">
            <p>
                <h1><mark style="background-color: rgb(122, 206, 207);border-radius: 10px; border-bottom:2px solid orange">WELCOME TO ONLINE RESULT SYSTEM</mark></h1>
            </p>
            <h6 align="center" style="font-size:x-large;">{{form.messege}}</h6>

        </div>
    </div>

</body>
</html>
